html{
  width:100%;
  height: 100%;
  margin:0;
  padding:0;
}

body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  -webkit-overflow-style: none;
  -moz-overflow-style: none;
  -o-overflow-style: none;
  background-color:#262626;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

body::-webkit-scrollbar { display: none; }

a{
  text-decoration: none;
  color:#fff;
}

li{ list-style:none; }

img{ width:100%;}

input{
  border:none;
  background-color:transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus{  outline:none;}

fieldset{
  border:none;
}

textarea { resize:none; }

/*############## wrap ###################*/
#wrap{
  width:100%;
  height:100%;
}

/*########### header ##################*/
#header{
  width:100%;
  position:fixed;
  z-index:1000000;
}

.header-main{
  padding:2rem;
}

.header-inner{
  display:flex;
  height:42px;
  position:relative;
}

.main-logo{
  width:86px;
  height:42px;
}

.mobile-logo{
  display:none;
}

.imgBox-mobile{
  display:none;
}

/*###### menu-toggle ###############*/

.menu-toggle{
  width:48px;
  height:48px;
  position:absolute;
  top:0;
  right:0;
  cursor:pointer;
}

.nav-line{
  display:block;
  width:32px;
  height:4px;
  background-color:#fff;
  position:absolute;
  left:50%;
  top: 50%;
  transform:translate(-50%,-50%);
  z-index:999;
  transition: all .3s;
}

.nav-line:first-child{
  top:30%;
}

.nav-line:last-child{
  top:50%;
}

.menu-toggle.active .nav-line:first-child{
  top:40%;
  left:20%;
  transform: rotate(45deg);
}

.menu-toggle.active .nav-line:last-child{
  top:40%;
  left:20%;
  transform: rotate(-45deg);
}

div, p, ul, li , dl,  dd,  a,  h1 , h3{
  margin:0;
  padding:0;
}


/*############## menu-container (menu-inner) #################*/

.menu-container{
  width: 100%;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
  background-color:#5f84ff;
  display:none;
  color:#fff;
}

.menu-content{
  width:80%;
  display:flex;
  position:absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
  justify-content: space-evenly;
}

.menu-mobile{
  display:none;
}

.menu-content>div{
  margin-right:20%;
  
}

.menu-content>div:last-child{
  margin-right:0;
}


.menu-item{
  font-size:4rem;
  font-weight:800;
  line-height:1.18;
  text-transform:uppercase;
  margin-bottom:10px;
}

.menu-item{
  margin-bottom:4rem;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #fff 0%, #fff 50%, transparent 50.1%);
  background-size: 0% 100%;
  transition: all .4s;
}

.menu-item:hover{
  background-size: 200% 100%;
}

.circle{
  width:32px;
  height:32px;
  border-radius:50%;
  background-color:#ffac3e;
  display:none;
}

.menu-btn{
  display:flex;
  margin-top:4rem;
}

.menu-btn p{
  width:206px;
  height:62px;
  line-height:62px;
  text-align:center;
  border-radius:32px;
  border:2px solid #fff;
  margin-right:45px;
  font-weight:bold;
}

.menu-btn a{
  color:#fff;
}

.menu-btn p:hover{
  background-color:#fff;
}

.menu-btn p:hover a{
  color:#5f84ff
}

.menu-logo{
  margin-bottom:4rem;
}

.menu-com-info dl{
  margin-bottom:32px;
}

.menu-com-info dt{
  font-size:14px;
  color:#ccc;
  line-height:1.14;
  margin-bottom:8px;
}

.menu-com-info dd{
  margin-bottom:1.5rem;
  font-size:16px;
  cursor:pointer;
}

.effect > dd{
  display:inline;
  background-image: linear-gradient(transparent 95%, #ffaf23 40%);
}

.menu-info{
  display:flex;
}

.menu-info > dl{
  margin-right:64px;
}

.hover > dd {
  cursor: pointer;
  background-size: 0px 60px;
  background-repeat: no-repeat;
  background-position: left 100%;
  transition: all 0.35s linear;
}

.hover > dd:hover {
	background-size: 100% 60px;
}

.menu-right{
  padding-top:6rem;
}

.com-info{
  position:relative;
  display:block;
}

.underline{
  position:absolute; 
  left:0; 
  bottom:0; 
  width:0%; 
  height:40%; 
  background-color: #e9c400; 
  transition:width .5s cubic-bezier(0.24, 0.77, 0.32, 0.95);
}

.underline:hover{
  width:100%;
}

.data{
  font-size:18px;
  font-weight:bold; 
  display:inline-block;
  margin-bottom:32px;
  border-bottom:1px solid #fff;
}

.copy{
  font-size:18px;
}

.menu-logo{
  width:200px;
  height:100px;
}


/*########### main ######################*/
#main{
  width:100%;
  height:100%;
  position:relative;
}

/*######## quick-nav ############################*/
.quick-nav{
  width:32px;
  position:fixed;
  right:5px;
  top:50%;
  transform: translateY(-50%);
  padding:32px 13px;
  box-sizing: border-box;
  z-index:12;
  cursor:pointer;
}

.quick-nav li{
  width:6px;
  height:6px;
  border-radius:50%;
  margin-bottom:24px;
  background-color:#fff;
  box-sizing: border-box;
}

.quick-nav li.active{
  width: 6px;
  height: 32px;
  border-radius:3px;
}

.tooltip{
  width: 36px;
  height: 18px;
  line-height:8px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #ffaf23;
  color:#fff;
  box-sizing: border-box;
  font-size:9px;
  position:fixed;
  right:38px;
  top:37%;
  transition:opacity .3s ease;
}

/*########## main-home ######################*/
.main-home{
  width:100%;
  /*height:100%;*/
}

.home-section{
  width: 100%;
  /*height:100%;*/
  position:relative;
  color:#fff;
}

.video-frame video{
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  object-fit: cover;
}

.home-bg{
  width:100%;
  height:100vh;
  background-color:rgba(0,0,0,0.48);
  z-index:9999;
}

.project-info{
  width:80%;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  color:#fff;
  z-index:999;
}

.project-tit{
  text-transform: uppercase;
  font-size:5rem;
  margin-bottom:16px;
  cursor: pointer;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #fff 0%, #fff 50%, transparent 50.1%);
  background-size: 0% 100%;
  transition: all 1s;
}

.project-desc{
  line-height: 1.5;
}

.project-desc-mob{
  display:none;
}

.project-tit:hover{
  background-size: 200% 100%;
}

/*############# sentence-area ##############*/
.company-info{
  width:100%;
  height:100vh;
  display:flex;
  position:relative;
}

.company-info-mob{
  display:none;
}



.company-desc-left{
  width:50%;
  height:100%;
  background-color:#fff;
  position:relative;
}

.company-text{
  width:70%;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}


.com-list{
  position:relative;
}

.company-tit{
  font-size:4rem;
  color:#111;
  font-weight:bold;
}

.company-tit a , .company-desc a{
  overflow:hidden;
  position:relative;
  display:inline-block;
  color:#000;
  transition:transform .5s;
}

.company-tit a .line , .company-desc a .line{
  color:#111;
  position:absolute;
  left:0;
  top:0;
  height:100%; 
  background-color:#ffaf23;
  z-index:10;
  animation:text_line 2s 1 cubic-bezier(0.24, 0.77, 0.32, 0.95) both paused;
}

.company-tit  a .txt , .company-desc a .txt{
  position:relative; 
  z-index:20; 
  display: block; 
  animation:text_opacity 2s 1s 1 cubic-bezier(0.24, 0.77, 0.32, 0.95) both paused;
}

.sentence-area.active a .txt{
  animation-play-state: running;
}

.sentence-area.active a .line{
  animation-play-state: running;
}

.main-transition > p{
  height:75px;
  line-height:75px;
  padding-top: 15px;
  text-align:center;
}

.main-transition span {
  display: block;
  transition: color 2s;
  transition-delay: 1s;
  text-align: center;
  line-height: 75px;
}

.main-transition span:hover {
  transition: color 0s;
}

.main-transition span:hover {
  color: #ffaf23;
}

@keyframes text_line {
  0%{
    width: 0%;
    transform:translateX(0%);
  }
  50%{
    width: 100%;
    transform:translateX(0%);
  }
  100%{
    width: 100%;
    transform:translateX(101%);
  }
}

@keyframes text_opacity {
  0%{
    opacity: 0;
    color:#000;
    transform:translateX(-50%);
  }
  100%{
    opacity: 1;
    color:#000;
    transform:translateX(0%);
  }
}

.company-desc{
  margin-top:32px;
  color: #010101;
  line-height: 1.69;
  font-size:16px;
}

.company-btn{
  width: 138px;
  height: 52px;
  line-height:52px;
  text-align:center;
  border-radius:32px;
  margin-top:32px;
  border:1px solid #5f84ff;
  transition: all .3s;
}
.company-btn a{
  color:#5f84ff;
}

.company-btn:hover{
  background-color:#5f84ff
}

.company-btn:hover a{
  color:#fff;
}

.company-desc-right{
  width:50%;
  height:100%;
  /*display:flex;
  align-items: center;*/
  background-color:#5f84ff;
  position:relative;
  cursor:pointer;
}

.sentence{
  display:flex;
  font-size:4rem;
  font-weight:bold;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  padding:32px 0;
}

.column{
  transition:all .8s;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  height:75px;
  line-height:75px;
  padding: 15px;
}

.column p{
  height:75px;
  line-height: 75px;
}

.column:first-child p{
  width:173px;
  margin-bottom: 15px;
}

.column:last-child{
  letter-spacing: 1.5;
}

.column:last-child p{
  margin-bottom: 15px;
}


.main-transition span {
  display: block;
  transition: color 2s;
  transition-delay: 1s;
  text-align: center;
  line-height: 75px;
}

.main-transition > span:first-child {
  margin-top: 10px;

}

.main-transition > span{
  margin-bottom:15px;
}

.main-transition span:hover {
  transition: color 0s;
}

.main-transition span:hover {
  color: #ffaf23;
}

/*######## solution bg #############*/
.home-section{
  width:100%;
  height:100vh;
}

.home-section-bg{
  width:100%;
  height:100vh;
  background-image: url("../img/bg.png");
  background-size:cover;
  color:#fff;
}

.solutionBox{
  max-width:1600px;
  width: calc(100% - 320px);
  padding-top:20px;
  /*padding:20px 160px;*/
  height:100%;
  display:flex;
  position:relative;
  overflow:hidden;
  margin:0 auto;
  box-sizing: border-box;
}

.sol-cont{
  /*width:60%;*/ 
  padding-top:38px;
}

.sol-tit{
  font-size:32px;
  margin-bottom:8px;
}

.sol-cont h3{
  font-size:52px;
  font-weight:500;
  margin-bottom:8px;
}

.sol-info{
  font-size:20px;
  line-height:35px;
}


.sol-imgArea{
  max-width:948px;
  width:100%;
  padding-top:82px;
}


.sol-img {
  /* max-width: 1070px; */
  /*width: calc(100vw / 1920 * 996);
  height: calc(100vw / 1920 * 513);*/
  position: relative;
  /* background: url("../img/img_frame.png") no-repeat;
  background-size: 80%;
  background-size: contain; */
  width:100%;
  padding-top:16px;
  overflow:hidden;
}

.img-cont {
  width:100%;
  height: 532px;
  background-color:rgba(255, 255, 255, 0.23);
  border:4px solid #fff;
  padding:10px;
  box-sizing: border-box;
  overflow:hidden;
  
}

.imgBox{
  transform:translateY(0%);
  width:100%;
  overflow:hidden; 
  transition: transform 8s ease-in-out;
}

.imgBox > p{
  max-width: 922px;
  width:100%;
}

.imgBox > p:nth-child(2){
  margin-bottom:20px;
}

.imgBox > p > img {
  width: 100%;
  cursor: pointer;
}

.imgBox:hover {
  animation:ud 15s ease-in-out;
}

@keyframes up {
  0% { transform:translateY(0%); }
  45% { transform:translateY(-66.66%); }
  55% { transform:translateY(-66.66%); }
  100% { transform:translateY(0%); }
}

.imgBox:hover{
  transform: translateY( calc(-100% + 240px) );
}

.sol-desc{
  text-align: right;
  position: absolute;
  right: 0;
  top: 50%;
  display:flex; 
}

.sol-text{
  margin-right:26px;
  font-size: 14px;
  line-height:27px;
}

.num-move {
  text-align: center;
  font-size: 19px;
}

.imgBox-mobile{
  display:none;
}

.home-info-mockup{
  width:100%;
  height:100%;
  background-image: url("../img/mockup_info0.png");
  background-repeat: no-repeat;
  background-position:right center;
  color:#fff;
}

.home-co-mockup{
  width:100%;
  height:100%;
  background-image: url("../img/mockup_co0.png");
  background-repeat: no-repeat;
  background-position:right center;
  color:#fff;
}

/*#### contact #############*/
.cont-info{
  padding:10rem 0 0 4.5rem;
  height: calc(100vh / 1080 * 660);
  box-sizing: border-box;
}

.cont-tit{
  font-size :5rem;;
  font-weight:bold;
  letter-spacing: 4px;
  /*text-transform: uppercase;*/
}

.cont-com-info{
  padding:7rem 0;
  display:flex;
}

.cont-com-info dl{
  /*margin-left:70px;*/
  margin-left: 8%;
}

.cont-com-info dl:first-child{
  margin-left:0;
}

.cont-com-info dt{
  color:#ccc;
  font-size:14px;
  margin-bottom:8px;
}

.cont-com-info dd{
  font-size:16px;
  line-height:1.5;
  color:#fff;
}

.cont-user{
  align-items: center;
  cursor:pointer;
  height: calc(100vh / 1080 * 420);
  display:flex;
}

.contact{
  display:flex;
  flex:1; 
}

.cont-user>div{
  width:47%;
  padding:4rem;
  box-sizing: border-box;
}

.pro-tit{
  display:flex;
  font-size:42px;
}

.call{
  vertical-align: middle;
  width:48px;
  height:48px;
  margin-right:1rem;
  background-color:#fff;
  border-radius:50%;
}

.inq-text{
  line-height:48px;
  font-size:32px;
}

.cont-img{
  transform:translatex(45%);
}

.circle-bg{
  width:280px;
  height:280px;
  border-radius: 50%;
  background-color:#fff;
}

.cont-inq{
  width: 50%;
  height: 100%;
  background: url("../img/left.png") 90% 50% #5f84ff no-repeat;
}

.apply_inq{
  width: 50%;
  height: 100%;
  background: url("../img/right.png") 90% 50% #ffaf23 no-repeat;
}

/*##### contact project #####################*/
.cont-project{
  color:#000;
}
.cont-top{
  position:relative;
}

.cont-inner{
  width:60%;
  padding:9% 3% 5%;
}

.cont-inner-tit{
  font-size:4rem;
  /*color:#fff;*/
}


.cont-inner-tit span{
  font-size:5rem;
  font-weight:bold;
}

.illustImg{
  position:absolute;
}


.illust-bg{
  height:492px;
  top:55%;
  left:0;
 
}

.illust0{
  width:810px;
  height:470px;
  top:68%;
  right:2%;
  z-index:999;
}

.illust1{
  top: 2%;
  left: 3%;
}

.illust2{
  width:464px;
  height:594px;
  right:0;
  bottom: 9%;
}

.cont-bottom{
  padding-bottom: 40px;
  width:100%;
  height:1300px;
  background-color: #5f84ff;
  position:relative;
  padding-bottom:20%;
}

.cont-formArea{
  padding:10rem 0;
  position:relative;
  color:#aaa;
}

#cont-form{
  max-width:1022px;
  width: 100%;
  position:absolute;
  left:50%;
  transform:translate(-50%);
  background-color:#fff;
}

#cont-form legend{
  display:none;
}


.form-inner{
  padding:4rem;
}

.form-text{
  text-align:center;
  color:#5f84ff;
}

.form-text-mobile{
  display:none;
}

.form-tit{
  text-transform:uppercase;
  font-size:4rem;
  letter-spacing: -1.28px;
  font-weight:500;
}

.form-desc{
  margin-top:32px;
}


.info{
  display: block;
  margin-top:128px;
  position:relative;
}

.info-person { 
  /*margin-bottom: 64px;*/
  display: flex;
  width: 100%; 
  /*margin:64px 0;*/
}


.alert-text{
  margin-bottom:64px;
  margin-top:8px;
}

.alert-text{
  color:#ee6666;
  transform: translateX(11%);
}

.alert-img{
  position: absolute;
  right: 12%;
  /*top: -3%;*/
  transform: translatey(-30%);
  width:20px;
  height:20px;
  border-radius:50%;
  background:url("../img/alert.png") no-repeat center center #ee6666;
}


.alert-tel{
  top:60%;
}

.alert-email{
  top:105%;
}

.info-person .col-01,
.info-person .col-02 {
  width: 10%;
}

.info input{
  vertical-align: middle;
  border-bottom:1px solid #aaa;
  max-width:736px;
  width: 80%;
  height:20px;
  margin:0 16px;    
  text-indent: 10px;
}
/*
.info p{
  margin-bottom:64px;
}
*/
.size{
  font-size:18px;
}

.info-mobile{
  display:none;
}

.chkBox{
  margin:20px 0;
  height:133px;
  font-size:14px;  
}

.chkBox p{
  margin-bottom:15px;
  font-size:16px;
  margin-top:42px;
}

.chkBox input{
  margin:10px 8px 10px 0;
}

.chkBox .chk_menu{
  float:left;
  width: 20%;
  /*margin-right:64px;*/
}


input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  cursor: pointer;
  outline: none !important;
  border:1px solid #aaa;
  border-radius: 4px;
  width:22px;
  height:22px;
  vertical-align: middle;
}

/* 체크박스 */

input[type="checkbox"]::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

input[type="checkbox"]:hover {
  border-color: rgba(170, 170, 170, 0.5);
}

input[type="checkbox"]:checked {
  background-color: #60da89;
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}

input[type="checkbox"]:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%)
}

.chkBox-mobile{
  display:none;
}

/*.textArea{
  margin-bottom:20px;
}*/

.textArea p {
  margin-bottom: 32px;
  margin-top: 65px;
}




#textarea0{
   /*padding: 16px 8px 16px 16px;*/
   padding: 16px 2%;
  /*max-width: 444px;*/
  width: 96%;
  height: 168px;
  font-size: 16px;
  border-radius: 8px;
  border-color:#aaa;
}

.fileArea{
  margin-top: 72px;
  /*display:flex;*/
  width:100%;
  position:relative;
}

.file{
  position:absolute;
  right:0;
  bottom:5px;
  cursor:pointer;
}


.file  label{
 
  cursor:pointer;
}

.fileText{
  padding:10px 0;
  border-bottom:1px solid #ccc;
  margin:7px 0;
}



.file-img{
  display:inline-block;
  position:absolute;
  right:55%;
  width:32px;
  height:32px;
}

.fileArea .file-img{
  bottom:0;
}

.apply-file1{
  right:12%;
}

.survey_itemlabel{
  border-bottom:1px solid #ccc;
}

.surveyF{
  display:flex;
}


.file-user input[type="file"]{
  position:absolute;
  width:1px;
  height:1px;
  overflow:hidden;
}

.user{
  float: left;
  width: 47%;
}

.user:nth-child(2), .survey_name:nth-child(4) {
  float: right;
}


.file input[type="file"]{
  display:none;
}

.red::placeholder{
  color:#ee6666;
}

/*
.agreement{
  margin:0 0;
}
*/
label[for="agreement"]{
  margin-left:5px;
  vertical-align: middle;
}

.bold{
  font-weight:bold;
  border-bottom:1px solid #aaa; 
}

.red{
  color:#ee6666;
}

.btnArea{
  text-align:center;
  margin-top:64px; 
} 

.btnArea input{
  width:320px;
  height:48px;
  border-radius:8px;
  margin-right:64px; 
  font-size:18px;
  color:#fff;
}

.btnArea input:last-child{
  margin-right:0;
}

.cont-button{
  border: solid 1px #f1f1f1;
  background-color: #fff;
  cursor: pointer;
}

#button1{
  color:#333;
  border: solid 1px #333;
}

#button2{
  background-color: #5f84ff;
}

/*########### apply ####################*/
.form-container{
  padding-top:128px;
}
#apply-form legend{
  font-size: 32px;
  text-align: center;
  color: #aaa;
  border-bottom:1px solid #f1f1f1;
  padding:16px;
}

.apply-bottom{
  background-color:#fff;
}
.apply-content{
  background-color:#ffaf23;
  height:450px;
  align-items: center;
  padding:0 3%;
  position:relative; 
}

.apply-text{
  padding:8% 0;
  color:#fff;
}

.apply-tit{
font-size:3rem;
font-weight:bold;
text-transform:uppercase;
}

.apply-info{
  font-size:24px;
  margin-top:32px;
  line-height: 1.5;
}

.servey-mobile{
  display:none;
}

.illust3{
  right:64px;
  bottom:10px;
  width:598px;
  height:570px;
}

.motion{
  width:24px;
  height:20px;
  position:absolute;
  left:50%;
  bottom:10%;
  border-color:#fff #fff transparent transparent;
  animation:motion 2s linear infinite;
}

@keyframes motion{
  0% {transform: translateY(0px)}
  50%  {transform: translateY(20px)}
  100%  {transform: translateY(0px)}
}
.form-container{
  background-color:#fff;
  padding-bottom:2rem;
  max-width: 1152px;
  width: 100%;
  /*padding: 3rem;*/
  margin: 0 auto;
}
.form_container h3{
  text-align:center;
  border-bottom:2px solid #f1f1f1;
  padding:1rem;
  color:#aaa;
  font-size:32px;
}

.form-container-mob{
  display:none;
}

.survey{
  max-width:1152px;
  padding:3rem;
  margin:0 auto;
  position:relative;
}

.num{
  display:inline-block;
  width:32px;
  height:32px;
  line-height:32px;
  border-radius:50%;
  background-color:#ffaf23;
  text-align:center;
  color:#fff;
  font-size:18px;
}

.question{
  display:inline-block;
  margin:8px 6px;
  color:#aaa;
  font-size:16px;
}

.survey_item{
  overflow: hidden;
  padding:1rem 2rem 0;
}

.survey_item_chk input[type="checkbox"]+label{
  display:inline-block;
  width: 130px;
  /*height:38px;*/
  height: auto; /* add son */

  margin:0 3px;
  font-size:14px;
  color:#ccc;
}

.survey_item input[type="text"]{
  /*max-width:488px;*/
  width: 100%;
  height:30px;
  /*padding:5px 0;*/
  border-bottom:1px solid #cccc;
  margin:0 5px 8px 0;
}

.alert-textS{
  font-size:12px;
  color:#ee6666;
}

/*** add son ***/
.survey_item {
  padding: 0;
}

.survey_item_chk {
  overflow: hidden;
  height: 70px;
}

/*.survey_item_chk:nth-child(1) {
  margin-bottom: 16px;
  /*padding-left: 43px;
}*/
.survey_item_chk:nth-child(2) {
  /*padding-left: 43px;*/
}

.survey_item_chk .chk_menu {
  float: left;
}

 input[type="checkbox"] {
  border: solid 1px #ccc;
  border-radius: 4px;
}

.survey_item_chk .chk_menu:nth-child(1),
.survey_item_chk .chk_menu:nth-child(2),
.survey_item_chk .chk_menu:nth-child(3),
.survey_item_chk .chk_menu:nth-child(4),
.survey_item_chk .chk_menu:nth-child(5) {
  margin-bottom: 16px;
  width: 20%;
}

.survey_item_chk .chk_menu:nth-child(6),
.survey_item_chk .chk_menu:nth-child(7),
.survey_item_chk .chk_menu:nth-child(8),
.survey_item_chk .chk_menu:nth-child(9),
.survey_item_chk .chk_menu:nth-child(10) {
  width: 20%;
}

.survey_item_chk input[type="checkbox"]+label {
  width: auto;
}

.survey_item_chk .chk_menu  input[type="checkbox"] {
  margin-right: 4px;
}

.tit {
  margin-bottom:21px;
}

.survey_item:nth-child(2),
.survey_item:nth-child(3),
.survey_item:nth-child(4){
  padding-left: 40px;
}

.agreement {
 /*margin-top: -36px;*/
  /*padding-left: 80px;*/
}

.file_ex {
  margin-top: 8px;
  margin-bottom: 39px;
}
.survey_item input[type="text"] {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  color: #c9c9c9;
}
#textarea1 {
  border: 2px solid #f1f1f1;
}



.btnArea input {
  max-width: 320px;
  width: 48%;
  height: 48px;
}

label[for="agreement"] {
  color: #c9c9c9;
  font-size:14px;
}

.survey_name {
  overflow: hidden;
  position:relative;
}

input::placeholder{
  color: #c9c9c9
}

.survey_name { float: left; width: 47%; }

.survey_name:nth-child(2),
.survey_name:nth-child(4) {
  float: right;
}
.survey_item input[type="file"] + label:nth-of-type(2n) {
  margin-right: 0;
}

/*.survey_name .alert-img{
  position: static ;
  display:inline-block;
}*/

.alert0{
  right:1%;
  top:25%;
}

.alert1{
  right:5%;
  top:25%;
}

.alert2{
  right:1%;
  bottom:35%;
}


.alert3{
  right:5%;
  bottom:35%;
}


.file-img {
  right: 51.5%;
}
.apply-file1 {
  right: 5%;
}
.agreement2 {
  margin: 0;
  padding: 0;
}

.chkBox {
  overflow: hidden;
}

.chkBox .chk_project {
  float: left;
  width: 20%;
}

.chkBox .chk_project 
.fileArea {
  margin-top: 70px;
}

.fileText {
  padding: 0 0 16px;
  margin: 0 0 16px;
}
.infoF{
  position:relative;
}

.file_ex{
  padding-left:2rem;
  font-size: 14px;
  color:#ccc;
}

.survey .textarea{
  padding-left:2rem;
  padding-top:1rem;
  box-sizing: border-box;
}

#textarea1{
  max-width: 1100px;
  width: 100%;
  height: 228px;
  padding: 1rem;
  box-sizing: border-box;
  border-color: #ccc;
  border-radius: 8px;
  border: solid 2px #f1f1f1;
}

textarea::placeholder{
  color:#ccc;
}

.apply-form .agreement{
  padding-left:5rem;
  color:#ccc;
}

#button3 , #mob-button1{
  border: solid 1px #333;
  background-color: #fff;
  color:#333;
  cursor:pointer;
}
  
#button4 , #mob-button2{
  border: solid 1px #f1f1f1;
  background-color: #ffaf23;
  cursor:pointer;
}

/*.hide {
  display: none;
}
.alert.hide {
  display:none;
}*/

.file-user{
  display:flex;
}

.file-user .red{
  line-height:19px;
  padding-left:3px;
}


.survey_item input[type="file"] {
  width: 488px;
  height: 30px;
  padding: 5px 0;
  border-bottom: 1px solid #cccc;
  margin: 0 53px 20px 0;
}

.survey_item input[type="file"]{
  display:none;
}

.survey_item input[type="file"] +  label{
  width: 488px;
  height: 30px;
  line-height: 30px;
  padding: 5px 0;
  border-bottom: 1px solid #cccc;
  margin: 0 53px 20px 0;
  display:block;
  cursor:pointer;
  font-size:18px;
  color:#c9c9c9;
}

.form-text-mob{
  display:none;
}

.info-mob{
  display:none;
}

/*########## popup ##################*/
.modal-wrap{
  width:100%;
}

.popup-wrap{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:none;
  box-sizing: border-box;
  background-color:rgba(0, 0, 0, 0.16);

}
.popup-wrap1{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:none;
  box-sizing: border-box;
  background-color:rgba(0, 0, 0, 0.16);

}


.popup-container{
  max-width: 640px;
  width:100%;
  height:659px;
  position:absolute; 
  left:50%;
  top:50%;
  background-color:#fff;
  transform:translate(-50%, -50%);
  box-sizing: border-box;
  z-index:9999;
}

.popup-body {
  font-size: 16px;
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;
}

.popup-body p{
  line-height:27px;
  padding-bottom:2rem;
}

.modal-title{
  color:#000;
}

.modal-contentBox{
  color:#777
}

.modal-title{
  padding-bottom:3rem;
  font-size:24px;
  font-weight:bold;
}

.popup-footer{
  width:100%;
  height:52px;
  line-height:52px;
  text-align:center;
  background-color: #f4f4f4;
}

.pop-btn.close{
  cursor:pointer;
}

.form-container .agreement {
  margin-top: 0;
  padding-left: 80px;
}

.popup-container-alert{
  max-width:426px;
  width:100%;
  height:296px;
  position:absolute; 
  left:50%;
  top:50%;
  background-color:#fff;
  transform:translate(-50%, -50%);
  box-sizing: border-box;
  z-index:9999;
  text-align:center;
}

.popup-body-alert{
  padding:30px;
  
}

.alertS{
  margin:0 auto;
  width:74px;
  height:74px;
}

.alert-tit{
  font-weight:bold;
  font-size:24px;
  color:#777;
  margin:16px 0;
}

.alert-info{
  line-height:27px;
  font-size:18px;
  color:#ccc;
  margin-bottom:30px;
}



/* ################# mediaQuery ###################### */
/* 태브릿pc 가로*/
@media screen and (max-width:1366px){
  .home-section{
    height:100vh;
  }

  /* 4번째 영역*/
  .company-text {
    width: calc(100% - 127px);
  }

  .sentence{
    transform: translate(-50%,-50%) scale(0.9);
  }

  /* 5번째 영역*/
  .solutionBox{
    max-width: 1140px;
    width: calc(100% - 226px);
    padding:0;
    padding-top: 103px;
  }

  .sol-cont{
    /*width:60%;*/
    width: 100%;
  }
  .sol-tit {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .sol-cont h3 {
    font-size: 40px;
    margin-bottom: 48px
  }

  .sol-info {
    font-size: 16px;
    line-height: 35px;
  }

  .sol-imgArea {
    max-width:760px;
    width:100%;
    padding:0;
  }

  .sol-info > br{
    display:none;
  }

  .img-cont{
    max-width:760px;
    height:420px;
  }

  /* contact 영역*/
  .cont-bottom {
    padding-bottom: 40%;
  }

  .illustImg{
    display:none;
  }

  .illust3{
    display:block;
    width: 500px;
    height: 398px;
    bottom:124px;
  }

  .apply-content {
    height: 398px;
  }
}
  /* 태브릿pc 세로*/
@media screen and (max-width:1024px){
  /*.home-section{
    height:100vh;
  }*/
  /* menu */
  .menu-mobile{
    display:block;
    position: absolute;
    top: -46%;
    right: 0;
    font-size:32px;
    display:flex;
  }

  .menu-content {
    width: calc(100% - 128px);
  }

  .menu-content>div {
    margin-right: 64px; 
  }

  .menu-item {
    font-size:75px;
  }

  .menu-right {
    padding-top:8rem; 
  }

  .menu-com-info dl {
    margin-bottom: 30px;
  }

  .data {
    font-size: 15px;
  }

  .copy {
    font-size: 15px;
    width:332px;
  }

  .sentence {
    transform: translate(-50%,-50%) scale(0.8);
  }

  .company-text{
    width: calc(100% - 276px);
  }

  .sol-desc{
    display:none;
  }

  .company-info {
    flex-direction: column-reverse;
  }

  .company-desc-right , .company-desc-left{
    width:100%;
  }

  .company-text {
    width: calc(70% - 62px);
  }

  /*sol-img*/
  .solutionBox {
    padding-top: 128px;
    width: 83%;
  }

    .sol-desc {
      text-align: left;
      position: absolute;
      left: 0;
      top: 66%;
      display: flex;
  }

  .num-move{
    display:none;
  }

  /*contract*/
  .cont-user{
    flex-direction: column;
    width:100%;
    height:840px;
  }

  .cont-user>div{
    display: block;
    width: 100%;
    height:420px;
    /*padding: 11rem 3rem;*/
    box-sizing: border-box;
  }


  .form-container{
    width: 100%;
    padding:0;
  }
  .cont-info {
    overflow: hidden;
    height: 100%;
    
  }

  .cont-tit{
    padding-bottom:10px;
    font-size:60px;
  }

  .cont-com-info {
    /*padding: 7rem 0;*/
    /*padding-bottom: 180px;*/
    display: flex;
  }

  .cont-com-info dl{
    margin-bottom:32px;
  }

  .cont-formArea {
    padding:0;
  }

  .cont-info {
    padding-left:64px;
  }

  .form-contact{
    padding:64px;
  }

  #cont-form {
    max-width: 896px;
    width: 95%;
    background-color:#5f84ff;
  }

  .cont-bottom {
    padding-top:128px;
  }

  .contact-inner{
    background-color:#fff;
  }

  .illust3{
    display:none;
  }

  .apply-inner {
    padding: 5%;
    background: #ffaf23;
  }

  .form-container{
    padding-bottom:128px;
  }

  /* add son */
  .btnArea input {
    margin-right: 2%;
  }
}

@media screen and (max-width:1000px){
   .home-section{
    height:100vh;
  }
  .survey_item_chk {
    height: auto;
  }
  .survey_item_chk .chk_menu:nth-child(2n-1) {
    margin-bottom: 40px;
    width: 50%;
  }
  .survey_item_chk .chk_menu:nth-child(2n) {
    margin-bottom: 40px;
    width: 50%;
  }
  /*
  #apply_form .agreement {
    margin: 0 auto;
    max-width: 790px;
  }
  */
  .survey_item:nth-child(2), .survey_item:nth-child(3), .survey_item:nth-child(4) {
    padding:0;
  }
}

@media screen and (min-width:768px) {
  .mobile-logo { display:none !important; }
}

/* 모바일 */
@media screen and (max-width:767px){
  /*.home-section{
    height:100vh;
  }*/

  .home-section:nth-child(5) ,  .home-section:nth-child(6) , .home-section:nth-child(7){
    height:150vh;
  }

  .quick-nav{
    display:none;
  }

  .project-tit{
    font-size:32px;
  }

  .project-desc{
    display:none;
  }

  .project-desc-mob{
    display:block;
    font-size:14px;
    line-height:21px;
  }
  
  .info-person{
    display:none;
  }

  .pc-logo { 
    display:none !important; 
  } 
  
  .header-main { 
    padding:16px; 
  }

  .main-logo { 
    width:62px;
  }

  .menu-toggle { 
    width:32px;
    height:32px;
  }

  .nav-line { 
    width:22px;
    height:3px; 
  }

  .menu-container {
    overflow: auto;
    padding-top:10px;
  }
  .menu-content {
    flex-direction: column;
    top:0;
    left:0;
    transform:translate(0,0);
    width:100%;
    padding:0 32px;
    box-sizing:border-box;

  }
  .menu-content > div {
    margin-right: 0;
  }
  .menu-content > div:last-child {
    padding-bottom: 100px;
  }
  /* .menu-left {
    padding-top: 500px;
  } */
  .menu-right { padding:0; }
  
  .menu-item {
    margin-bottom: 64px;
    font-size:32px;
    font-weight:900;
    line-height:38px;
  }

  .menu-item:first-child {
    padding-top: 238px;
  }
  .menu-btn {
    flex-direction: column;
    margin-bottom: 128px;
  }
  .menu-btn p:hover {
    background: #fff;
    color: #5f84ff;
  }

  .menu-btn p a:hover {
    background: #fff;
    color: #5f84ff;
  }

  .menu-btn p:last-child {
    margin-top: 30px;
  }
  .menu-logo {
    width: 50%;
  }

  .menu-logo { 
    width:125px;
    height:auto;
    margin-bottom:67px; 
  }

  .menu-btn p {
    width:158px;
    height:52px;
    box-sizing:border-box; ;
  }

  .menu-btn p a {
  line-height:48px;
  display: block;;
  width:100%;
  height:100%;
  }

  .menu-info { 
    display:block;
  }

  .data { 
    font-size:16px; 
  }
  .copy { 
    font-size:14px;
    width:156px;
    word-break:break-all; 
  }

  /* sentence*/
  .company-info{
    display:none;
  }

  .company-text {
    width: calc(100% - 62px);
}

  .company-info-mob{
    display:block;
  }

  .sentence-area{
    background-color:#5f84ff;
  }

  .company-tit {
    font-size: 32px;
}

  .company-tit a{
    color:#fff;
  }

  .company-tit a .txt{
    color:#fff !important;
  }

  .company-desc > br{
    display:none;
  }

  .company-desc{
    color:#fff;
  }


  .company-btn{
    background-color:#5f84ff;
    border-color:#fff;
    float:right;
  }

  .company-btn a{
    color:#fff;
  }
  
  .company-btn:hover{
    background-color:#fff;
    border-color:#fff;
  }
  
  .company-btn:hover a{
    color:#5f84ff;
  }



  .solutionBox { 
    display:block;
    width:100%;
    padding:32px;
    box-sizing:border-box;
   }

   .sol-cont h3{
    font-size:16px;
    margin-bottom: 32px;
  }
 
  .sol-cont h3:after , .sol-cont h3:before{
    font-size:32px;
    color: #5f84ff;
    padding:0 8px;
  }
 
  .sol-cont h3:after{
    content:"]"
  }
  .sol-cont h3:before{
   content:"["
   }
 
   /*.sol-info{
     width:296px;
   }*/
 
   .sol-info>br{
     display:none;
   }
 
   .sol-desc{
     display:none;
   }
 
  /* .sol-info{
     margin-bottom:88px;
   }*/
 
   .sol-img-header{
     display:none;
   }

   .img-cont{
    transition:none;
   }

   .imgBox{
    display:none;
  }
  .imgBox-mobile{
    display:block;
  }

  .mo-info{
    margin-bottom:80px;
  }


  .sol-imgArea {
    max-width:760px;
    width:100%;
    padding:0;
    /*height:299px;*/
    height: auto;
    overflow:hidden;
  }

  .sol-info > br{
    display:none;
  }

  .img-cont{
    width:760px;
    height:420px;
  }

  .img-cont{
    display:none;
  }

  .imgBox{
    display:none;
  }

    
  
  .sol-cont { 
    padding-top:0;
    width:100%;
    height:100%; 
  }

 



  /*contact*/

  .cont-info{
    padding:0;
    padding-left:64px;
    box-sizing: border-box;
  }

  .cont-com-info {
    flex-direction: column;
    padding: 0;
    padding: 32px 0;
  }

  .cont-com-info dl{
    margin-left:0;
  }

  .cont-tit{
    font-size:32px;
    padding-top:128px;
  }
  
  .cont-user {
    height: 640px;
  }

  .cont-user>div {
    background-size: 140px;
    background-position-y: calc(100% - 32px);
    height: 320px;
    padding: 32px;
  }

  .form-text{
    display:none;
  }

  .info-person{
    display:none;
  }

  .alert-text{
    display:none;
  }

  .cont-bottom{
    padding-top:0;
  }


  .form-text-mobile{
    display:block;
    color:#fff;
    font-weight: bold;
    text-align:center;
  }

  .form-tit{
    font-size:32px;
    margin-top:16px;
  }

  .form-desc{
    width: 296px;
    height: 67px;
    margin:0 auto;
    margin-bottom:64px;
    line-height:24px;
  }

  .info{
    margin-top:0;
  }

  .info-mobile{
    display:block;
    margin-top:16px;
  }

  .info-mobile input{
    border-bottom: 1px solid #ccc;
    /*width: 296px;*/
    width: 100%;
    height: 22px;
  }

  .info-mobile label{
    display: block;
    font-size:14px;
  }

  .info-mobile p{
    margin-bottom:32px;
  }

  .info-mobile .alert-text{
    display:block;
    transform: none;
    margin:0;
    position:absolute;
  }

  .contact-inner{
    border-radius: 8px;
  }

  .form-inner{
    padding:16px;
  }

  .info-mobile .alert-text.alert-name {
    top:88px;
  }

  

  .info-mobile .alert-text.alert-tel{
    top:164px;
  }

  .info-mobile .alert-text.alert-email{
    top:238px;
  }

  .chkBox{
    display:none;
  }

  .chkBox-mobile{
    overflow: hidden;
    display:block;
    margin: 64px 0;
  }

  .chkBox-mobile p{
    margin-bottom:15px;
  }

  .chkBox-mobile input[type="checkbox"]+label {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 25px;
  } 

  .chkBox-mobile > div {
    width: 50%;
    float: left;
  }

  .agreement2{
    margin-top:16px;
  }

  .btnArea{
    padding: 32px;
    display:flex;
  }

  .btnArea input:first-child {
    margin-right: 5%;
  }

  /* 팝업 */
  .popup-container{
    width:100%;
    height:auto;
  }

  .popup-body {
    font-size: 13px;
  }

  .modal-title {
    font-size: 18px;
  }

  .popup-body p {
   padding:0;
  } 

  .company-desc-left{
    padding:0;
  }

  .popup-body-alert {
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  .popup-body-alert {
    max-width:296px;
    width:100%;
    margin: 0 auto;
  }


  /* apply */
  .apply-inner{
    padding:32px;
    background-color:#ffaf23;
  }

  #apply-form{
    padding-left:16px;
  }

  #apply-form legend{
    font-size:20px;
    padding:32px 0 16px 0;
  }
  .apply-content {
    height: auto;
  }

  .apply-text{
    text-align:center;
  }

  .apply-tit{
    font-size:32px;
    margin-bottom:16px;
  }

  .apply-info{
    width: 296px;
    height: 67px;
    margin:0 auto;
    font-size:16px;
  }

  .motion{
    display:none;
  }

  .survey-pc{
    display:none;
  }

  

  .survey_item_list > div{
    width:50%;
    float:left;
  }

  .apply-content{
    padding:0 16px;
  }

  .num{
    width:22px;
    height:22px;
    line-height:22px;
    font-size:14px;
  }

  .survey {
    padding: 2% 0;
    width: 98%;
}
  
  .survey-title:nth-child(1){
    padding:65px 0 33px 0;
  }

  .survey_name {
    float: none;
    width: 100%;
    margin-bottom: 38px;
  }

  .survey_name .red {
    position: absolute;
    left: 15%;
    top: 25%;
  }

  .survey_name .red1{
    left:10%;
  }

  .survey_name .red2{
    left:24%;
  }

  .survey_name:nth-child(1) .red{
    background-color:gold;
  }

  .servey-mobile{
    display:block;
  }

  .servey-mobile input[type="text"]{
    max-width: 360px; 
    width: 100%;
    height: 30px;
    /* padding: 5px 0; */
    border-bottom: 1px solid #cccc;
    margin: 0 5px 8px 0;
  }

  .survey_item_chk input[type="checkbox"]+label {
    font-size: 13px;
  }

  .survey_item input[type="file"] + label{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: none;
    margin:0;
  }

  .file_ex {
    padding-left:0;
}

.survey .textarea {
  padding-left:0;
}

  .form-container .agreement{
    padding:0;
  
  }

  /*.formArea1{
    margin-top:300px;
  }*/

  .ledBox-mobile{
    display:block;
  }

  .sol-info{
    line-height:24px;
  }

  .mo-info{
    margin-top:8px;
    font-size:14px;
    line-height:21px;
    margin-bottom:42px;
  }

}